.header,
.header--nav_part,
.header--nav_options,
.header--user_part {
  display: flex;
  align-items: center;
}

/* html {
  padding-top: 96px;
} */

.header {
  width: 100%;
  /* height: 5rem; */
  height: 96px;
  justify-content: space-between;
  padding: 0 10%;
  border-bottom: 1px solid var(--neutral-black-10, rgba(31, 32, 29, 0.1));
  background: #fff;
  position: fixed;
  top: 0;
}

.header--nav_part {
  /* column-gap: 2rem; */
  gap: 32px;
}

.header--logo {
  /* width: 3.5rem; */
  width: 65px;
}

.header--nav_options {
  column-gap: 2rem;
  font-weight: 600;
  cursor: pointer;
}

.header--option_chosen {
  height: 96px;
  border-bottom: 3px solid var(--primary, #ade34d);
  display: flex;
  align-items: center;
}

.header--user_part {
  gap: 16px;
}

.header--avatar_line {
  width: 1px;
  height: 16px;
  background: rgba(31, 32, 29, 0.5);
}
