.user-edit {
  padding: 100px 10% 200px 10%;
  display: flex;
  flex-direction: column;
  gap: 48px;
  width: 100%;
  font-size: 18px;
}

.user-edit--account_line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.user-edit--account_container {
  display: flex;
  align-items: center;
  gap: 32px;
}

.user-edit--avatar {
  height: 64px;
}

#user-edit--account {
  font-size: 40px;
  font-weight: 700;
}

.user-edit--update_btn {
  display: flex;
  padding: 11px 22px;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 100px;
  background: var(
    --brand-gradient,
    linear-gradient(90deg, #46f04e 0%, #ade34d 100%)
  );
  font-size: 18px;
  font-weight: 700;
  align-self: flex-start;
}

.user-edit--info {
  display: flex;
  flex-direction: column;
  gap: 48px;
  width: 100%;
}

.user-edit--label {
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
}

.user-edit--info_line1, .user-edit--info_line2 {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.user-edit--name,
.user-edit--phone,
.user-edit--password_confirm {
  width: 48%;
}

.user-edit--input {
  display: flex;
  padding: 11px 22px;
  align-items: flex-start;
  align-self: stretch;
  font-size: 20px;
  font-weight: 400;
  border-radius: 8px;
  border: 2px solid var(--neutral-black-10, rgba(31, 32, 29, 0.1));
  width: 100%;
}

.marginTop12 {
  margin-top: 12px;
}

.user-edit--edit_info {
  cursor: pointer;
  color: rgb(44, 174, 44);
  font-weight: 700;
  font-size: 15px;
}