.user-menu {
  padding: 100px 10% 100px 10%;
  display: flex;
  flex-direction: column;
  gap: 48px;
  width: 100%;
  font-size: 18px;
  position: relative;
}

.user-menu--back_button {
  position: absolute;
  top: 30px;

  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  font-weight: 700;
  background: linear-gradient(90deg, #46f04e 0%, #ade34d 100%);
  padding: 5px 10px;
  border-radius: 8px;

  cursor: pointer;
}

.user-menu--back_button_img {
  width: 20px;
}

.user-menu--account_line {
  display: flex;
  align-items: center;
  gap: 100px;
  width: 100%;
}

.user-menu--account_container {
  display: flex;
  align-items: center;
  gap: 32px;
}

.user-menu--avatar {
  width: 64px;
}

.user-menu--account {
  font-size: 40px;
  font-weight: 700;
}

.user-menu--buttons {
  display: flex;
  gap: 50px;
}

.user-menu--update_btn,
.user-menu--logout_btn {
  display: flex;
  padding: 11px 22px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: none;
  border-radius: 100px;
  background: var(
    --brand-gradient,
    linear-gradient(90deg, #46f04e 0%, #ade34d 100%)
  );
  font-size: 18px;
  font-weight: 700;
}

.user-menu--info {
  display: flex;
  flex-direction: column;
  gap: 48px;
  width: 100%;
}

.user-menu--label {
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
}

.user-menu--info_line1,
.user-menu--info_line2 {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.user-menu--name,
.user-menu--phone,
.user-menu--score,
.user-menu--email {
  width: 48%;
}

.user-menu--score_value {
  color: var(--primary, #ade34d);
  font-size: 24px;
  font-weight: 700;
}

.user-menu--input {
  display: flex;
  padding: 11px 22px;
  align-items: flex-start;
  align-self: stretch;
  font-size: 20px;
  font-weight: 400;
  border-radius: 8px;
  border: 2px solid var(--neutral-black-10, rgba(31, 32, 29, 0.1));
  width: 100%;
  margin-top: 12px;
}

.user-menu--edit_info {
  cursor: pointer;
  color: rgb(44, 174, 44);
  font-weight: 700;
  font-size: 15px;
}

.user-menu--info_editing {
  border: 2px solid gray;
  border-radius: 8px;
  padding: 10px;
}

.user-present-board {
  width: 100%;
  padding: 0 10%;
  margin: 0px;
}

.user-present-board--title {
  font-size: 40px;
  font-weight: 700;
}

.user-present-board--labels {
  margin-top: 15px;
  display: grid;
  grid-template-columns: 0.75fr 2fr 2fr;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: var(--neutral-black-50, rgba(31, 32, 29, 0.5));
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  padding: 5px;
}

/* .user-present-board--missions {
  max-height: 90vh;
  overflow-y: none;
} */

.user-menu-present {
  width: 100%;
}

.user-present-board--label2{
  padding-left: 53px;
}