.about {
  display: flex;
  flex-direction: column;
  gap: 144px;
  margin: 144px 0;
}

.about--images {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.about--images img {
  width: 30%;
}

.about--text_container {
  width: 100%;
  padding: 0 10%;
}

.about--who, .about--what {
  width: 690px;
  display: flex;
  flex-direction: column;
}

.about--who {
  gap: 24px;
}

.about--what {
  gap: 32px;
}

.about--headline {
  font-size: 40px;
  font-weight: 700;
}

.about--text {
  font-size: 20px;
  line-height: 30px;
}