.check-image--bg {
  width: 100vw;
  height: 100vh;
  /* background-color: rgba(0, 0, 0, 0.7); */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
}

.check-image--notif {
  display: flex;
  width: 440px;
  padding: 48px 0;
  flex-direction: column;
  align-items: center;
  position: absolute;
  z-index: 3000;
  border-radius: 20px;
  background: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  min-height: 500px;
}

.check-image--notif_checkImg {
  /* margin-top: 50px; */
  width: 60vw;
}

.checkImg--xmark_container {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.checkImg--xmark_container img {
  width: 30px;
}

.check-image--headline {
  color: #000;
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 10px;
}

.check-image--question {
  font-size: 16px;
  margin-top: 16px;
}

.check-image--buttons {
  display: flex;
  gap: 16px;
  margin-top: 32px;
  justify-content: center;
}

.check-image--button {
  font-weight: 700;
  display: flex;
  width: 113px;
  padding: 11px 22px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
}

.check-image--btn0_return, .check-image--btn1_accept, .check-image--btn1_cancel {
  border: 2px solid #46f04e;
  background-color: white;
}

.check-image--btn2_accept, .check-image--btn2_cancel {
  border: none;
  border-radius: 100px;
  background: var(
    --brand-gradient,
    linear-gradient(90deg, #46f04e 0%, #ade34d 100%)
  );
}

.checkImg--img_container {
  width: 100%;
  min-height: 300px;
  max-height: 300px;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.CheckImage--img {
  /* height: 100px; */
  width: 300px;
  border-radius: 8px;
}

.mission-upload--choose-file {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mission-upload--buttons {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  justify-content: space-between;
  width: 250px;
}

.mission-upload--headline {
  color: #000;
  font-size: 24px;
  font-weight: 700;
}

.test {
  width: 190px;
  margin: 0 auto;
}