.joinInvitation {
  width: 100%;
  padding: 0 10%;
}

.ji--content_container {
  width: 530px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.ji--headline {
  font-weight: 700;
  font-size: 40px;
}

.ji--text {
  font-size: 20px;
  line-height: 30px;
}

.ji--buttons {
  display: flex;
  gap: 16px;
}

button {
  width: 255px;
  padding: 24px 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 15px;
  line-height: 26px;
  border: none;
  border-radius: 8px;
}

.ji--btn1 {
  background: var(--brand-gradient, linear-gradient(90deg, #46F04E 0%, #ADE34D 100%));
}

.ji--btn2 {
  background-color: rgba(31, 32, 29, 0.10);
}