.header,
.nav-part,
.nav-options,
.user-part {
  display: flex;
  align-items: center;
}

html {
  padding-top: 96px;
}

.header {
  width: 100%;
  /* height: 5rem; */
  height: 96px;
  justify-content: space-between;
  padding: 0 10%;
  border-bottom: 1px solid var(--neutral-black-10, rgba(31, 32, 29, 0.1));
  background: #fff;
  position: fixed;
  top: 0;
}

.nav-part {
  /* column-gap: 2rem; */
  gap: 32px;
}

.logo {
  /* width: 3.5rem; */
  width: 65px;
}

.nav-options {
  column-gap: 2rem;
  font-weight: 600;
}

.option-chosen {
  height: 96px;
  border-bottom: 3px solid var(--primary, #ade34d);
  display: flex;
  align-items: center;
}

.user-part {
  gap: 16px;
}

.avatar-line {
  width: 1px;
  height: 16px;
  background: rgba(31, 32, 29, 0.5);
}
