.mission {
  padding: 0 80px;
  margin-bottom: 64px;
}

.mission-title {
  font-weight: 700;
  font-size: 24px;
}

.container, .about-part, .mission-contacts {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.container {
  width: 700px;
  height: 700px;
  background-color: rgb(246, 249, 235);
  padding: 130px 175px 285px 105px;
  position: relative;
}

.about-part, .mission-contacts, .mission-rewards, .mission-buttons {
  width: 425px;
}

.mission-description {
  font-size: 20px;
}

.contact-icon,
.reward-icon {
  width: 24px;
}

.contact-info,
.reward-value {
  font-size: 16px;
}

#contact-call {
  font-size: 15px;
  font-weight: 700;
}

.mission-contact,
.mission-rewards {
  display: flex;
}

.mission-buttons {
  display: flex;
  gap: 16px;
}

button {
  display: flex;
  padding: 11px 22px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-weight: 700;
}

.join-button {
  border-radius: 100px;
  background: var(
    --brand-gradient,
    linear-gradient(90deg, #46f04e 0%, #ade34d 100%)
  );
  border: none;
}

.info-button {
  border-radius: 100px;
  border: 2px solid #2dda35;
  background-color: rgb(246, 249, 235);
}

.mission-img {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: -400px;
  width: 500px;
}