.mission-board {
  width: 100%;
  padding: 0 8%;
  margin: 30px 0;
}

.mission-board--title {
  font-size: 40px;
  font-weight: 700;
}

.mission-board--labels {
  margin-top: 20px;
  display: grid;
  /* grid-template-columns: 2fr 1.5fr 1.5fr 1fr 1fr; */
  grid-template-columns: 2fr 1.2fr 1.2fr 1.2fr 1.2fr;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: var(--neutral-black-50, rgba(31, 32, 29, 0.5));
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  padding: 16px;
}

/* .mission-board--missions {
  max-height: 90vh;
  overflow-y: none;
} */

.mission-board--empty_notification {
  font-size: 20px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}
